send %caster message "&eT'es trop fort.";
send %caster effect SPEED 2 for 4s;

{
    define %a = "a";
    define %b = "b";
}

define %close = all PLAYERS around %caster of 50;
if(%close is empty) {
    send %caster message "&cpas d'amis !";
    stop;
}

send %close message "&at'es un copain.";

send {{ all others PLAYERS around %caster by 50m }} message "&a&ltoi aussi.";

send [%caster, %close] message "on est des amis !";


