for(%i = 0; %i < 5; increment %i) {
    if(%i >= 0)
        break;
    ASSERT_NOT_CALLED("Break should work.");
}

for(%i = 0; %i < 5; increment %i) {
    if(%i >= 0)
        continue;
    ASSERT_NOT_CALLED("Break should work.");
}
