define %a = 55;

# Nice separation with parenthesis
if((%a == 1) || (%a == 2))
    send to %caster message "A";

# No separation
#if(%a == 3 || %a == 4)
#    send to %caster message "A";

#if(%a == 33 || true)
#    send to %caster message "B";
