# Throwing a piercing ball of fire, damaging and setting ablaze.

summon orb at %caster for 4s with: {{
        radius: 0.5,
        damages: 7,
        fire: 200,
        sound: {{ type: "ITEM_FIRECHARGE_USE" }},
        hit_sound: {{ type: "BLOCK_FIRE_EXTINGUISH" }},
        particle: {{
                type: "FLAME",
                speed: 0.1,
                count: 1,
                shape: {{type:"sphere",radius:0.5}}
        }},
        velocity: 8,
        _clock: 1
}};
