define %a = 2;
define %b = 3;
define %c = 5;

define %zz1 = %a + %b + %c;     # (a+(b+c))

define %zz2 = %a + %b * %c;     # (a+(b*c))

define %zz3 = %a / %b - %c;     # ((a/b)-c)

define %zz4 = %a / %b - %c;     # ((a/b)-c)
